* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 0;
    font-weight: 600;
}

window#waybar {
    background-color: rgba(15, 20, 23, 0.9);
    color: #dee3e6;
  }
tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid;
  border-radius: 7px
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 10px;
    background: rgba(100, 114, 125, 0.1);
    color: rgba( 222, 227, 230, 0.3);
}
#workspaces button:hover,
#workspaces button.focused:hover,
#workspaces button:not(.focused):not(.empty):hover  {
    background: rgba(100, 114, 125, 8);
    color: #f2f2f2;
    box-shadow: none;
}
#workspaces button.focused {
    background: rgba(100, 114, 125, 0.5);
    border: 0px solid;
    border-color: #64727D;
    color: rgba( 222, 227, 230, 1);
}
#workspaces button:not(.focused):not(.empty) {
    background: rgba(100, 114, 125, 0.3);
    color: rgba( 222, 227, 230, 0.7);
}
#mode, #clock, #battery, #window, #network, #bluetooth {
    padding: 5px 5px;
    margin: 0px 7px;
    background-color: transparent;
    color: rgba( 222, 227, 230, 1); 

}

#mode {
    background: rgba(100, 114, 125, 0.2);
}




#battery.charging {
    color: #26A65B;
    background-color: transparent;
}



#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
