* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}
#window {
  background: rgba(30, 30, 30, 0.7); 
  color: #f2f2f2;                    
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1); 
  margin: 10px 6px 3px 6px;
  font-weight: 600;
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.05), 0 1px 2px rgba(0,0,0,0.5);
  padding: 4px 25px;

}

window#waybar.empty #window {
    background-color: rgba( 30, 30, 30, 0.7);
}


#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #806aec;
    border-bottom: 3px solid transparent;
    margin: 0px 5px;
}


#disk,
#memory,
#clock,
#network,
#bluetooth,
#pulseaudio,
#workspaces,
#battery {
  background: rgba(30, 30, 30, 0.7);
  color: #f2f2f2;                    
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1); 
  padding: 4px 8px;
  font-weight: 600;
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.05), 0 1px 2px rgba(0,0,0,0.5);
}


#disk,
#memory,
#network,
#bluetooth,
#workspaces,
#battery {
	margin :10px 6px 3px 6px;
}

#clock{ margin : 10px 6px 3px 12px }

#pulseaudio { margin : 10px 12px 3px 6px }


